<style>
 .h3
	{
		font-size: 2em;
		font-family: 'paragon', sans-serif;
		font-weight: 700;
		color: #fff;

	}	
  .login {
    top:105px; 
    height:100%; 
    width:35%;
  }
  .login_interno {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color:rgba(21, 53, 71, 0.63);
  border: 4px solid #000000;
  border-radius: 42px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  }
  .avatar {
    width: 100px;
    height: 100px;
    margin: 10px auto 30px;
    border-radius: 100%;
    border: 2px solid #000;
    background-size: cover;
    background-image: url('../img/avatar.png');
   
  }
 /* Form */
		
		form
		{
		}
		
			form label
			{
				font-family: 'Open Sans Condensed', sans-serif;
				font-weight: 700;
				color: #FFFFFF;
				margin: 0 0 0.75em 0;
			}
		
			form input[type="text"],
			form input[type="email"],
			form input[type="password"],			
			form select,
			form textarea
			{
				display: block;
				border-radius: 5.4em;
				-webkit-appearance: none;
				border: solid 2px #000;
				background-color: #fff;
				padding: 0.5em 0.75em;
				width: 100%;
				line-height: 1.25em;
			}

			form input[type="text"]:focus,
			form input[type="email"]:focus,
			form input[type="password"]:focus,
			form select:focus,
			form textarea:focus
			{
				box-shadow: 0px 0px 2px 2px #c94663;
			}

			form ::-webkit-input-placeholder
			{
				color: #aaa;
			}

			form :-moz-placeholder
			{
				color: #aaa;
			}

			form ::-moz-placeholder
			{
				color: #aaa;
			}

			form :-ms-input-placeholder
			{
				color: #aaa;
			}
</style>